<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "ru" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.subtitle }}{{ else }}{{ .Summary | default .Site.Params.subtitle }}{{ end }}">
    
    <!-- CSS -->
    {{ $style := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <!-- Header -->
    {{ partial "header.html" . }}
    
    <!-- Main Content -->
    <main class="main-content">
        {{ block "main" . }}{{ end }}
    </main>
    
    <!-- Footer -->
    {{ partial "footer.html" . }}
    
    <!-- JavaScript -->
    {{ $script := resources.Get "js/main.js" | resources.Minify }}
    <script src="{{ $script.RelPermalink }}"></script>
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=103785798', 'ym');

        ym(103785798, 'init', {ssr:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/103785798" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
